.home-page {
  #logoCollection {
    // position: relative;
    // &::before,
    // &::after {
    //   content: '';
    //   width: 10rem;
    //   height: 1px;
    //   background-image: linear-gradient(
    //     to right,
    //     transparent,
    //     rgba(85, 166, 246, 0.4),
    //     transparent
    //   );
    //   position: absolute;
    //   animation: line-translate-animation 10s ease-in-out infinite 10s both;
    // }
    // &::before {
    //   top: -1px;
    // }
    // &::after {
    //   bottom: -1px;
    // }
    // @keyframes line-translate-animation {
    //   0%,
    //   100% {
    //     left: 0;
    //     opacity: 0;
    //   }
    //   50% {
    //     left: 100%;
    //     transform: translateX(-100%);
    //   }
    //   10%,
    //   40%,
    //   60%,
    //   90% {
    //     opacity: 0;
    //   }
    //   25%,
    //   75% {
    //     opacity: 1;
    //   }
    // }
  }

  #first-page {
    position: relative;
    overflow: hidden;
    .first-page-logo-tips {
      cursor: pointer;
      background: linear-gradient(45deg, #212121, #252525);
      background: radial-gradient(
        circle at bottom,
        rgba(50, 100, 180, 0.5) 10%,
        #212121 70%
      );
      background-size: 300%;
      background-position: left center;
      transition: 0.5s;
      border-radius: 24px;
      padding: 4px 12px;
      padding-left: 2px;
      font-size: 12px;
      display: flex;
      align-items: center;
      animation: first-page-logo-tips-gradient 2s ease infinite;
      transition: all 0.3s ease-in-out;
      position: relative;
      &:hover {
        .star {
          opacity: 1;
        }
        .star-1 {
          position: absolute;
          top: -80%;
          left: -30%;
          width: 25px;
          height: auto;
          filter: drop-shadow(0 0 10px #ffffff);
          z-index: 2;
        }
        .star-2 {
          position: absolute;
          top: -25%;
          left: 10%;
          width: 15px;
          height: auto;
          filter: drop-shadow(0 0 10px #ffffff);
          z-index: 2;
        }
        .star-3 {
          position: absolute;
          top: 55%;
          left: 25%;
          width: 5px;
          height: auto;
          filter: drop-shadow(0 0 10px #ffffff);
          z-index: 2;
        }
        .star-4 {
          position: absolute;
          top: 30%;
          left: 80%;
          width: 8px;
          height: auto;
          filter: drop-shadow(0 0 10px #ffffff);
          z-index: 2;
        }
        .star-5 {
          position: absolute;
          top: 25%;
          left: 115%;
          width: 15px;
          height: auto;
          filter: drop-shadow(0 0 10px #ffffff);
          z-index: 2;
        }
        .star-6 {
          position: absolute;
          top: 5%;
          left: 60%;
          width: 5px;
          height: auto;
          filter: drop-shadow(0 0 10px #ffffff);
          z-index: 2;
        }
      }
      .star {
        opacity: 0;
      }
      .star-1 {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffffff);
        z-index: -5;
        transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
      }

      .star-2 {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffffff);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-3 {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffffff);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-4 {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffffff);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-5 {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffffff);
        z-index: -5;
        transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-6 {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffffff);
        z-index: -5;
        transition: all 0.8s ease;
      }
      .icon {
        animation: first-page-logo-tips-slope 1s linear infinite;
      }
    }
    @keyframes first-page-logo-tips-slope {
      0% {
      }

      50% {
        transform: rotate(10deg);
      }

      100% {
      }
    }
    @keyframes first-page-logo-tips-gradient {
      0% {
        background-size: 300%;
        background-position: left center;
        box-shadow: 0 0 0 0 rgba($color: #4078fc, $alpha: 0.5);
      }

      70% {
        background-size: 350%;
        background-position: right center;
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
      }

      100% {
        background-size: 300%;
        background-position: left center;
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
      }
    }
    .first-page-mask {
      // max-width: 250px;
      width: 50vw;
      background-image: url('../../assets/images/logo-name-bg.jpg');
      background-size: cover;
      mask: url(../../assets/images/logo-name.svg#star);
      mask-size: auto;
      mask-repeat: no-repeat;
      mask-position: center;
      animation: move 6s ease-in-out infinite;
      @keyframes move {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 100% 100%;
        }
      }
    }
    // 搜索
    #first-page-search-container {
      .stardust,
      .cosmic-ring,
      .starfield,
      .nebula {
        max-height: 70px;
        max-width: 314px;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: -1;
        border-radius: 12px;
        filter: blur(3px);
      }

      .input {
        background-color: #05071b;
        border: none;
        width: 301px;
        height: 56px;
        border-radius: 10px;
        color: #a9c7ff;
        padding-inline: 59px;
        font-size: 18px;
      }

      & {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .input::placeholder {
        color: #6e8cff;
      }

      .input:focus {
        outline: none;
      }

      #main:focus-within > #input-mask {
        display: none;
      }

      #input-mask {
        pointer-events: none;
        width: 100px;
        height: 20px;
        position: absolute;
        background: linear-gradient(90deg, transparent, #05071b);
        top: 18px;
        left: 70px;
      }

      #cosmic-glow {
        pointer-events: none;
        width: 30px;
        height: 20px;
        position: absolute;
        background: #4d6dff;
        top: 10px;
        left: 5px;
        filter: blur(20px);
        opacity: 0.8;
        transition: all 2s;
      }

      #main:hover > #cosmic-glow {
        opacity: 0;
      }

      .stardust {
        max-height: 63px;
        max-width: 307px;
        border-radius: 10px;
        filter: blur(2px);
      }

      .stardust::before {
        content: '';
        z-index: -2;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(83deg);
        position: absolute;
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
        background-position: 0 0;
        filter: brightness(1.4);
        background-image: conic-gradient(
          rgba(0, 0, 0, 0) 0%,
          #4d6dff,
          rgba(0, 0, 0, 0) 8%,
          rgba(0, 0, 0, 0) 50%,
          #6e8cff,
          rgba(0, 0, 0, 0) 58%
        );
        transition: all 2s;
      }

      .cosmic-ring {
        max-height: 59px;
        max-width: 303px;
        border-radius: 11px;
        filter: blur(0.5px);
      }

      .cosmic-ring::before {
        content: '';
        z-index: -2;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(70deg);
        position: absolute;
        width: 600px;
        height: 600px;
        filter: brightness(1.3);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: conic-gradient(
          #05071b,
          #4d6dff 5%,
          #05071b 14%,
          #05071b 50%,
          #6e8cff 60%,
          #05071b 64%
        );
        transition: all 2s;
      }

      .starfield {
        max-height: 65px;
        max-width: 312px;
      }

      .starfield::before {
        content: '';
        z-index: -2;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(82deg);
        position: absolute;
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: conic-gradient(
          rgba(0, 0, 0, 0),
          #1c2452,
          rgba(0, 0, 0, 0) 10%,
          rgba(0, 0, 0, 0) 50%,
          #2a3875,
          rgba(0, 0, 0, 0) 60%
        );
        transition: all 2s;
      }

      &:hover > .starfield::before {
        transform: translate(-50%, -50%) rotate(-98deg);
      }

      &:hover > .nebula::before {
        transform: translate(-50%, -50%) rotate(-120deg);
      }

      &:hover > .stardust::before {
        transform: translate(-50%, -50%) rotate(-97deg);
      }

      &:hover > .cosmic-ring::before {
        transform: translate(-50%, -50%) rotate(-110deg);
      }

      &:focus-within > .starfield::before {
        transform: translate(-50%, -50%) rotate(442deg);
        transition: all 4s;
      }

      &:focus-within > .nebula::before {
        transform: translate(-50%, -50%) rotate(420deg);
        transition: all 4s;
      }

      &:focus-within > .stardust::before {
        transform: translate(-50%, -50%) rotate(443deg);
        transition: all 4s;
      }

      &:focus-within > .cosmic-ring::before {
        transform: translate(-50%, -50%) rotate(430deg);
        transition: all 4s;
      }

      .nebula {
        overflow: hidden;
        filter: blur(30px);
        opacity: 0.4;
        max-height: 130px;
        max-width: 354px;
      }

      .nebula:before {
        content: '';
        z-index: -2;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(60deg);
        position: absolute;
        width: 999px;
        height: 999px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: conic-gradient(
          #000,
          #4d6dff 5%,
          #000 38%,
          #000 50%,
          #6e8cff 60%,
          #000 87%
        );
        transition: all 2s;
      }

      #wormhole-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        max-height: 40px;
        max-width: 38px;
        height: 100%;
        width: 100%;
        isolation: isolate;
        overflow: hidden;
        border-radius: 10px;
        background: linear-gradient(180deg, #1c2452, #05071b, #2a3875);
        border: 1px solid transparent;
      }

      .wormhole-border {
        height: 42px;
        width: 40px;
        position: absolute;
        overflow: hidden;
        top: 7px;
        right: 7px;
        border-radius: 10px;
      }

      .wormhole-border::before {
        content: '';
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        position: absolute;
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
        background-position: 0 0;
        filter: brightness(1.35);
        background-image: conic-gradient(
          rgba(0, 0, 0, 0),
          #4d6dff,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0) 50%,
          #6e8cff,
          rgba(0, 0, 0, 0) 100%
        );
        animation: rotate 4s linear infinite;
      }

      #main {
        position: relative;
      }

      #search-icon {
        position: absolute;
        left: 20px;
        top: 15px;
      }

      @keyframes rotate {
        100% {
          transform: translate(-50%, -50%) rotate(450deg);
        }
      }
    }
  }
}
