.home-page {
  #logoCollection {
    position: relative;
    &::before,
    &::after {
      content: '';
      width: 10rem;
      height: 1px;
      background-image: linear-gradient(
        to right,
        transparent,
        rgba(85, 166, 246, 0.4),
        transparent
      );
      position: absolute;
      animation: line-translate-animation 10s ease-in-out infinite 10s both;
    }
    &::before {
      top: -1px;
    }
    &::after {
      bottom: -1px;
    }
    @keyframes line-translate-animation {
      0%,
      100% {
        left: 0;
        opacity: 0;
      }
      50% {
        left: 100%;
        transform: translateX(-100%);
      }
      10%,
      40%,
      60%,
      90% {
        opacity: 0;
      }
      25%,
      75% {
        opacity: 1;
      }
    }
  }

  #first-page {
    .first-page-mask {
      // background-image: url(https://sp-webfront.skypixel.com/skypixel/v2/public/website/assets/1535027674204-f6eca6369ec03e70262b58b0e25cda7b.jpg);
      // background-image: url(https://media.giphy.com/media/3o6Ztb45EYezY9x9gQ/giphy.gif);
      background-image: url(https://assets.codepen.io/285131/paintbg.jpg);
      background-size: cover;
      // background: linear-gradient(
      //   70deg,
      //   rgb(10, 3, 15) 0%,
      //   rgb(64, 69, 149) 25%,
      //   rgb(10, 3, 15) 50%,
      //   rgb(64, 69, 149) 75%,
      //   rgb(10, 3, 15) 100%
      // );

      // background-size: 300% 200%;
      // mask: url(http://www2.djicdn.com/assets/images/v3/logo-black2-145dcb13c56f36a65d084180a42136fa.svg);
      mask: url(../../assets/images/logo-name.svg#star);
      mask-size: cover;
      animation: move 10s infinite;
      @keyframes move {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 100% 33%;
        }
      }
    }
  }
}
